@import 'colors';
$standard-transition: 0.4s;
$long-transition: 1s;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Courier New", "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hbox, .vbox { display: flex; }
.hbox { flex-direction: row; }
.vbox { flex-direction: column; }
.center { 
    justify-content: space-between;
    align-items: center;
}

.align-start{align-items: flex-start;}

html, body, #root {
    margin: 0;
    height: 100%;
    justify-content: center;
}

.hfill { width: 100%;}
.vfill { height: 100%;}

footer {
    color: yellow;
}

nav, footer {
    background-color: $color-complement-4;
    width: 100%;
}

nav {
    height: 5%;
    min-height: 3em;
}


.blinking-anchor:first-of-type {
    margin-left: auto;
}
.blinking-anchor {
    align-self: center;
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
    img {
        width: 32px;
        height: 32px;
    }
}

.blinking-anchor:hover { 
    display: block;
    box-sizing: border-box;
    img {display: none;} //Hide image so background is visible
}

#github:hover {
    background: url("/github-light.png") no-repeat;
}
#linkedin:hover {
    background: url("/linkedin-white.png") no-repeat;
}


article {
    margin: 2.5% 0;
    width: 80%;
    header {
        margin-bottom: 5%;
        font-size: 2em;
    }
    p {
        margin: 0;
        text-align: justify;
    }
}