@import 'colors';

.navbar-btn {
    background-color: $color-primary-0;
    color: $color-complement-0;
    border: 2px solid $color-complement-1;

    text-align: center;
    font-family: inherit;
    outline: none;

    margin: 0.5% 0.5%;
    width: 10%;
    min-width: 8em;
    height: 80%;

    transition: color 0.4s;
    transition: background-color 0.4s;
    align-self: center;
}

.navbar-btn:first-of-type {
    margin-left: 2%;
}

.navbar-btn:hover {
    background-color: $color-primary-1;
    color: $color-complement-1;
    transition: color 0.4s;
    transition: background-color 0.4s;
}

.navbar-btn:active {
    background-color: $color-complement-2;
    border: none;
    transition: background-color 0.2s;
    transition: border 0.05s;
}