$width: 200px;
$height: 200px;
$border-thicc: 5px;
$border-ratio-width: 1/3;
$border-ratio-height: 1/3;
$pseudo-width:   $border-ratio-width * $width + $border-thicc;
$pseudo-height:  $border-ratio-height * $height + $border-thicc;
$transform-scale: 1.5;
$fancy-box-margin-ratio: $height/4 $width/4;

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fancy-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fancy-box {
 width: $width;
 height: $height;
 transition: all 0.5s ease;
 margin: $fancy-box-margin-ratio;
 color: black;
}
.fancy-box:hover { transform: scale($transform-scale);}

.fancy-box::before {
 content: ""; 
 display: block;
 margin-top: (-$border-thicc); 
 margin-left: (-$border-thicc);
 width: $pseudo-width; 
 height: $pseudo-height;
 padding: 0; 
 border-top:    $border-thicc solid black; 
 border-left:   $border-thicc solid black;
 transition: margin 1s;
}
.fancy-box::after {
 content: ""; 
 display: block;
 margin-top: -2*$pseudo-height; 
 margin-left: 100%*($width - $pseudo-width)/$width; 
 width: $pseudo-width; 
 height: $pseudo-height;
 padding: 0 0 0 0; 
 border-bottom: $border-thicc solid black; 
 border-right:  $border-thicc solid black;
 transition: margin 1s;
}

.fancy-content {
  width: $width;
  height: $height;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png");
  background-size: $height $width;
  position: relative;
  top: -($pseudo-height);
  ul {
    font-size: 0.9em;
  }
}

.fancy-content:hover > .fancy-hidden-content {
  opacity: 1;
  top: 0;
  animation-name: appear;
  animation-duration: 0.8s;
}

.fancy-hidden-content {
  width: $width;
  height: $height;
  background-color: green;
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
}
