.hbox, .vbox { display: flex; }
.hbox { flex-direction: row; }
.vbox { flex-direction: column; }
.center { 
    justify-content: center;
    align-items: center;
}
.bordered {
    width: 90%;
    height: 90%;
    border: 3px solid #660000;
}
html, body, #root {
    /* color: #000066; */
    margin: 0;
    height: 100%;
    justify-content: center;

}
.main {
    align-items: center; 
    justify-content: space-between;
}
.maxwidth { width: 100%};
.maxheight { height: 100%};