$color-primary-0: #418607;	// Main Primary color */
$color-primary-1: #5FD101;
$color-primary-2: #51A60A;
$color-primary-3: #2B5E00;
$color-primary-4: #193700;

$color-complement-0: #87072E;	// Main Complement color */
$color-complement-1: #D20140;
$color-complement-2: #A60A39;
$color-complement-3: #5E001D;
$color-complement-4: #380011;
